@charset "UTF-8";

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: coral;
}
h1#principal{
    text-align: center;
    background-color: coral;
    color: aqua;
    font-size: 64px;
}
h2{
    color: rgb(129, 63, 40);
}
.basico{
    color: rgb(53, 100, 53);
}
.intermediario{
    color: rgb(106, 106, 60);
}
.avançado{
    color: rgb(101, 53, 53);
}