@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#FFE19C,#FF784F);
}

main{
    background-color: white;
    box-shadow: 5px 5px 15px hsla(273, 16%, 22%, 0.789);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3A3042;
    text-align: center;
    text-shadow: 1px 1px 2px #1d1821bd;
}

h2{
    color: #DB9D47;
}

p{
    text-align: justify;
}