@charset "UTF-8";

body{
    background-color: rgb(44, 71, 51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: yellow;
    background-color: black;
    text-align: center;
}
h2{
    color: rgb(39, 123, 226);
}
p{
    text-align: center;
}